.container {
  position: relative;
}

.title {
  text-align: center;
  margin: 0;
  padding: 10px 0;
  border-bottom: 2px #333333 solid;
}

.left {
  position: absolute;
  left: 20px;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}

.right {
  position: absolute;
  right: 20px;
  top: calc(50% - 15px);
  bottom: 10px;
}

.button {
  all: unset;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
