.info {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
}

.username {
  font-weight: 700;
  font-size: 1.4rem;
}

.label {
  font-weight: 600;
  font-size: 0.9rem;
}

.input {
  height: 40px;
  border-radius: 8px;
  border: none;
  padding: 0 10px;
  background: #373737;
}
