.routine {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  overflow-y: scroll;
  min-height: 0;
  flex: 1;
  padding-bottom: 80px;
}

.group {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.title {
  margin: 0;
  margin-bottom: 4px;
}

.icon {
  width: 60px;
  height: 60px;
  background: #000;
  border-radius: 10px;
}
.exercise {
  display: flex;
  align-items: center;
  gap: 4px;
}

.exercise > :last-child {
  margin-left: auto;
}
.start {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: calc(100vw - 20px);
  background: var(--accent-color);
  padding: 0.85em 0;
  border-radius: 50px;
}
