.routine {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 0 20px;
  overflow-y: scroll;
  min-height: 0;
  flex: 1;
  padding-bottom: 60px;
}

.group {
}

.title {
  margin: 0;
  margin-bottom: 4px;
}

.exercise {
  display: flex;
  justify-content: space-between;
}

.start {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: calc(100vw - 20px);
  background: var(--accent-color);
  padding: 0.85em 0;
  border-radius: 50px;
}
